<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sepet Sayfası</title>
</head>
<body>
<p>Merhaba, <span th:text="${username}"></span></p>
<p>Sepetinizdeki ürünlerin toplam fiyatı: <span th:text="${totalPrice}"></span></p>
<table>
    <thead>
    <tr>
        <th>Ürün Adı</th>
        <th>Ürün Açıklaması</th>
        <th>Ürün Fiyatı</th>
        <th>Sepet Miktarı</th>
        <th>Toplam Fiyat</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="basket : ${basketList}">
        <td th:text="${productRepository.findById(basket.productTableId).orElse(null).productName}"></td>
        <td th:text="${productRepository.findById(basket.productTableId).orElse(null).productExplanation}"></td>
        <td th:text="${productRepository.findById(basket.productTableId).orElse(null).productPrice}"></td>
        <td th:text="${basket.basketAmount}"></td>
        <td th:text="${productRepository.findById(basket.productTableId).orElse(null).productPrice * basket.basketAmount}"></td>
    </tr>
    </tbody>
</table>
<form action="/order" method="post">
    <input type="hidden" name="userId" th:value="${userId}">
    <button type="submit">Satın Al</button>
</form>
</body>
</html>
