<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sipariş Sayfası</title>
</head>
<body>
<p>Merhaba, <span th:text="${username}"></span></p>
<p>Sipariş ettiğiniz ürünlerin toplam fiyatı: <span th:text="${totalPrice}"></span></p>
<table>
  <thead>
  <tr>
    <th>Ürün Adı</th>
    <th>Ürün Açıklaması</th>
    <th>Ürün Fiyatı</th>
    <th>Sipariş Miktarı</th>
    <th>Toplam Fiyat</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${orderList}">
    <td th:text="${productRepository.findById(order.productTableId).orElse(null).productName}"></td>
    <td th:text="${productRepository.findById(order.productTableId).orElse(null).productExplanation}"></td>
    <td th:text="${productRepository.findById(order.productTableId).orElse(null).productPrice}"></td>
    <td th:text="${order.orderAmount}"></td>
    <td th:text="${productRepository.findById(order.productTableId).orElse(null).productPrice * order.orderAmount}"></td>
  </tr>
  </tbody>
</table>
<p>Siparişiniz başarıyla tamamlandı. Teşekkürler.</p>
</body>
</html>
